.playlist {
  padding: 2rem 0 0 2rem;
  width: 100%;
}

.playlist__title {
  font-weight: 600;
  color: rgb(184, 175, 175);
  font-size: 14px;
}

.music__wrapper {
  padding-left: 14px;
  overflow: hidden;
}
